# 100本　第6章

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from dateutil.relativedelta import relativedelta

## ノック51:物流に関するデータを読み込み

In [6]:
factories = pd.read_csv('tbl_factory.csv')
factories.head()

      FCID FCName  FCDemand FCRegion
0  FC00001   東京工場        28       関東
1  FC00002  木更津工場        29       関東
2  FC00003   多摩工場        31       関東
3  FC00004  横須賀工場        25       関東
4  FC00005   仙台工場        21       東北

In [7]:
warehouses = pd.read_csv('tbl_warehouse.csv')
warehouses.head()

      WHID WHName  WHSupply WHRegion
0  WH00001   杉並倉庫        35       関東
1  WH00002   品川倉庫        41       関東
2  WH00003   豊洲倉庫        42       関東
3  WH00004   郡山倉庫        60       東北
4  WH00005   仙台倉庫        72       東北

In [8]:
cost = pd.read_csv('rel_cost.csv')
cost.head()

   RCostID     FCID     WHID  Cost
0        1  FC00001  WH00001   0.4
1        2  FC00001  WH00002   0.8
2        3  FC00001  WH00003   1.5
3        4  FC00002  WH00001   0.9
4        5  FC00002  WH00002   0.8

In [9]:
trans = pd.read_csv('tbl_transaction.csv')
trans.head()

   TRID      TransactionDate     ToFC   FromWH  Quantity
0     0  2019-01-01 02:11:10  FC00004  WH00003        33
1     1  2019-01-01 06:12:42  FC00007  WH00006        19
2     2  2019-01-01 06:32:32  FC00006  WH00004        31
3     3  2019-01-01 07:17:06  FC00002  WH00003        18
4     4  2019-01-01 07:52:18  FC00001  WH00002        30

## ノック52:現状の輸送量、コストを確認

## ノック53:ネットワークを可視化

## ノック54:ネットワークにノードを追加

## ノック55:ルートの重みづけ

## ノック56:輸送ルート情報を読み込み

## ノック57:輸送ルート情報からネットワークを可視化

## ノック58:輸送コスト関数を作成

## ノック59:制約条件を作る

## ノック60:輸送ルートを変更し、輸送コスト関数の変化